<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<NUnit>
		<NumberOfTestWorkers>4</NumberOfTestWorkers>
	</NUnit>
	<Playwright>
		<BrowserName>chromium</BrowserName>
		<ExpectTimeout>10000</ExpectTimeout>
		<LaunchOptions>
			<Headless>false</Headless>
			<Channel>msedge</Channel>
			<!--For local testing only-->
			<!--<SlowMo>2000</SlowMo>-->
		</LaunchOptions>
	</Playwright>
	<TestRunParameters>
		<Parameter name="BaseUrl" value="https://github.com/vethman" />
	</TestRunParameters>
</RunSettings>