<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<NUnit>
		<NumberOfTestWorkers>4</NumberOfTestWorkers>
	</NUnit>
	<Playwright>
		<BrowserName>chromium</BrowserName>
		<LaunchOptions>
			<Headless>false</Headless>
			<!--Remove line channel to speed up teardown-->
			<!--msedge is slow in combination with headless False-->
			<Channel>msedge</Channel>
		</LaunchOptions>
	</Playwright>
</RunSettings>